# Clock and Inputs
NET CLKEXT LOC = P43;
NET CLR_N  LOC = P30;
NET RXD    LOC = P39;

# Segment 1 - Units (Right side)
NET SEG2_A LOC = P5;
NET SEG2_B LOC = P6;
NET SEG2_C LOC = P8;
NET SEG2_D LOC = P12;
NET SEG2_E LOC = P13;
NET SEG2_F LOC = P16;
NET SEG2_G LOC = P14;

# Segment 2 - Tens (Left side)
NET SEG1_A LOC = P31;
NET SEG1_B LOC = P32;
NET SEG1_C LOC = P33;
NET SEG1_D LOC = P34;
NET SEG1_E LOC = P36;	
NET SEG1_F LOC = P38;
NET SEG1_G LOC = P37;